<style>
    .mdc-list{
    position: fixed;  
  }
</style>
<aside class="mdc-drawer mdc-drawer--dismissible">
        <div class="mdc-drawer__content">
      
            <div class="mdc-list">
                    <a class="mdc-list-item " href="/" aria-current="page">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
                        <span class="mdc-list-item__text" >Inicio</span>
                    </a>
                  <a class="mdc-list-item " href="/inicio" aria-current="page">
                      <i class="material-icons mdc-list-item__graphic" aria-hidden="true">description</i>
                      <span class="mdc-list-item__text" >Administradores</span>
                  </a>
                <a class="mdc-list-item " href="/muestradatos" aria-current="page">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">map</i>
                    <span class="mdc-list-item__text" >Mapa</span>
                </a>
                <a class="mdc-list-item " href="/perdidos" aria-current="page">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">map</i>
                    <span class="mdc-list-item__text" >Animalitos perdidos</span>
                </a>
                
                {% if request.user.is_staff %}
                <a class="mdc-list-item" href="/formulario_posteo">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">assignment</i>
                    <span class="mdc-list-item__text">Publicar animal</span>
                </a>
                <a class="mdc-list-item" href="/logout">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">meeting_room</i>
                    <span class="mdc-list-item__text">Cerrar sesión</span>
                </a>

                {% endif %}
            </div>
        </div>
      </aside>
      
      <div class="mdc-drawer-app-content">
        <header class="mdc-top-app-bar app-bar" id="app-bar" style="background-color:#2BB0ED;">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
                    <span class="mdc-top-app-bar__title">Adoptá</span>
                </section>
            </div>
        </header>
      