<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>


<!-- agregamos la hamburguesa -->
<link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
<script src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://cdn.jsdelivr.net/npm/@material/drawer@5.1.0/dist/mdc.drawer.min.js"></script>
<!-- fin hamburguesa -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700, 900|Vollkorn:400i" rel="stylesheet">
    <link href="/static/style/style.css" rel="stylesheet" type="text/css">


  <style>
    #mapid {
      height: 480px;
    }
  </style>
</head>

<body>

  {% block content %}

  {% include 'layouts/slide-bar.html' %}

  {% endblock %}

  <main class="main-content" style="overflow-x: hidden;" id="main-content">
      <div class="mdc-top-app-bar--fixed-adjust">
        <div class="alinear">
          <h1 style="color: #F5F7FA;">Formulario y mapa de los animales adoptados</h1>
          
      </div>
      <div style="margin: 50px; margin-top: 25px;" id="mapid"></div>
 
  <div id="formulario" style="display:none ">
    <!-- onsubmit="subir(this,event)" -->
    <form method="POST" id="formulario" enctype="multipart/form-data" action="nueva_adopcion">
      {% csrf_token %}

      <label for="fname">Nombre:</label><br>
      <input type="text" id="nombre" name="nombre"><br>

      <label for="fname">Apellido:</label><br>
      <input type="text" id="apellido" name="apellido"><br>

      <label for="lname">Edad de la persona:</label><br>
      <input type="number" id="edad" name="edad"><br>

      <label for="lname">Fecha de adopcion:</label><br>
      <input type="date" id="fecha" name="fecha"><br>

      <label for="lname">Descripcion:</label><br>
      <input type="text" id="descripcion" name="descripcion"><br>

      <label for="lname">Animal adoptado:</label><br>
      <select id="select_animal" name="select_animal">
        <option value="Gato">Gato</option>
        <option value="Perro" selected>Perro</option>
        <option value="Gallo">Gallo</option>
      </select><br>

      <label for="lname">Sexo del animal:</label><br>
      <select id="select_sexo" name="select_sexo">
        <option value="Macho">Macho</option>
        <option value="Hembra" selected>Hembra</option>
      </select><br>

      <label for="lname">Edad del animal en meses:</label><br>
      <input type="number" id="edad_animal" name="edad_animal"><br>

      <label for="lname">Cantidad de mascotas actuales:</label><br>
      <input type="number" id="cant_animales" name="cant_animales"><br>

      <label for="lname">Imagen de la mascota:</label><br>
      <input type="file" id="imagen" name="imagen" placeholder="Imagen *">

      <input type="text" id="latitud" name="latitud"> <br>
      <input type="text" id="longitud" name="longitud"> <br>
      <input type="submit" value="Subir">
    </form>
  </div>
</div>
</main>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    var datos1 = ' ';
    datos1 = JSON.stringify("{{data|escapejs}}");

    // console.log("antes: " +datos1);
    datos1 = datos1.replace(/'/g, '"'); // cambiamos todas las '  por " 
    datos1 = datos1.replace('"', ' '); //sacamos el primer  " 
    datos1 = datos1.substring(0, datos1.length - 1); // sacamos el ultimo  "
    // console.log("despues de al conversion: " +datos1);
    var hola = ' [{"descripcion": "Hola1", "precio": "hola","ubicacion": {"latitud": -25.34,"longitud": -57.54}} ] ';
    //  console.log("contruccion: " +hola);
    var prueba = JSON.parse(datos1);
    //  console.log("tipos: "+typeof(prueba));
    datos = prueba;
    var plano = new Array();
    var index = 0; //para recorrer la lista
    var lista_aux = new Array();
    for (index = 0; index < datos.length; index++) {
      //console.log(index);  
      // console.log(lista_aux);
      lista_aux = ['<h2>N°:' + datos[index].id + '</h2>' + '<h3>' + datos[index].nombre + ' ' + datos[index].apellido + "</h3>" + ' <p>' + datos[index].descripcion + '</p>', datos[index].ubicacion.latitud, datos[index].ubicacion.longitud];
      plano.push(lista_aux);// agregamos al array
    }
    // console.log(plano);
    var mymap = L.map('mapid').setView([-25.3381, -57.5423], 8);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);



    for (var i = 0; i < plano.length; i++) {
      marker = new L.marker([plano[i][1], plano[i][2]])
        .bindPopup(plano[i][0])
        .addTo(mymap);
    }

    var localizacion; // variable global
    // vemos ahora para agregar un popup
    mymap.on('click', addMarker);
    L.DomEvent.addListener(mymap, "touchstart", addMarker); // for mobile

    function addMarker(e) {
      var formu = document.getElementById('formulario').innerHTML; // sacamo el formulario
      //console.log(document.getElementById('formulario').getAttribute('id')  ) ;
      // Add marker to map at click location; add popup window
      var newMarker = new L.marker(e.latlng).bindPopup(formu).addTo(mymap).openPopup(); // abre en el mapa
      localizacion = e.latlng;
      var latitud = localizacion.lat; // sacamos la latitud 
      var longitud = localizacion.lng;  //sacamos la longitud 
      document.getElementById("latitud").value = latitud;
      document.getElementById("longitud").value = longitud;

    }

    function subir() {
      // lo que viene abajo es la extraccion de datos del form 
      var nombre = document.getElementById('nombre').value;
      var apellido = document.getElementById('apellido').value;
      var edad = document.getElementById('edad').value;
      var fecha = document.getElementById('fecha').value;
      var descripcion = document.getElementById('descripcion').value;
      var animal = document.getElementById('select_animal').value;
      console.log('esta es el animal seleccionado' + animal);
      var sexo = document.getElementById('select_sexo').value;
      var edad_animal = document.getElementById('edad_animal').value;
      var cant_animales = document.getElementById('cant_animales').value;
      console.log(nombre + apellido + edad + sexo + cant_animales);

      console.log('localizacion es: ' + localizacion);
      var latitud = localizacion.lat; // sacamos la latitud 
      var longitud = localizacion.lng;  //sacamos la longitud 
      console.log('laitud' + latitud)
      // hacemos el post al server con esa url 
      $.post("nueva_adopcion",
        {
          nombre: nombre,
          apellido: apellido,
          edad: edad,
          fecha: fecha,
          descripcion: descripcion,
          sexo: sexo,
          edad_animal: edad_animal,
          animal: animal,
          cant_animales: cant_animales,
          latitud: latitud,
          longitud: longitud


        },
        function (data, status) {
          alert("  Agregado correctamente ");  // manejamos la respuesta

        });

    }


  </script>
<script>
    const drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));
  
    const topAppBar = mdc.topAppBar.MDCTopAppBar.attachTo(document.getElementById('app-bar'));
    topAppBar.setScrollTarget(document.getElementById('main-content'));
    topAppBar.listen('MDCTopAppBar:nav', () => {
      drawer.open = !drawer.open;
    });
  </script>
  
</body>

</html>