<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <!-- agregamos la hamburguesa -->
    <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdn.jsdelivr.net/npm/@material/drawer@5.1.0/dist/mdc.drawer.min.js"></script>
    <!-- fin hamburguesa -->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700, 900|Vollkorn:400i" rel="stylesheet">
    <link href="/static/style/style.css" rel="stylesheet" type="text/css">

    <style>
        #mapid {
            height: 480px;
        }
        .leaflet-popup-close-button{
            height: 50%;
            width: 50%;
        }
    </style>
</head>

<body>
    {% block content %}

    {% include 'layouts/slide-bar.html' %}

    {% endblock %}
    <main class="main-content" style="overflow-x: hidden;" id="main-content">
        <div class="mdc-top-app-bar--fixed-adjust">
         
        
            <div class="alinear">
                <h1 style="color: #F5F7FA;">Mapa de los animalitos extraviados</h1>
                <h2 style="color: #F5F7FA;">Permite acceder a tu ubicación para notificarte animalitos perdidos</h2>>
                <h5 style="color: #F5F7FA;">Cantidad de animalitos encontrados gracias a la plataforma: {{ cant_encontrados}}</h5>
            </div>
            <div style="margin: 50px; margin-top: 25px;" id="mapid"></div>
            <h5 style="display: none" id="nombre">{{request.user.first_name}}</h5>
            <h5 style="display: none" id="apellido">{{request.user.last_name}}</h5>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
   

    <script>
        //parseamos datos desde el back-end

        {% autoescape off %}
        datos = {{ data }}
        {% endautoescape %}
        var plano = new Array();
        var index = 0; //para recorrer la lista
        var lista_aux = new Array();
        var mymap = L.map('mapid').setView([-26.873, -58.309], 12);
       var apellido=document.getElementById("apellido").textContent.toString() //sacamos el apellido actual del user registrado
       var nombre=document.getElementById("nombre").textContent.toString()
        var confirmacion= " ";
  
        for (index = 0; index < datos.length; index++) {
  

            if (nombre==datos[index].nombre  )
            {
                confirmacion ="<button > SI  </button> <button>NO </button>";
            }else{
                confirmacion=" ";

            }
            var ima = '<img src="' + datos[index].link + '"height=50% width=70% >';
            //console.log(ima);
            lista_aux = ['<h2>N°:' + datos[index].id + '</h2>' + '<h3>' + datos[index].fecha + '</h3>' + '<h3>Responde al nombre: ' + datos[index].nombre + '</h3>' + '<h4>Contacto: 0' + datos[index].telefono + '</h4>'+ ' <p>' + datos[index].descripcion + '</p>' + ima+'<br>' +confirmacion, datos[index].ubicacion.latitud, datos[index].ubicacion.longitud, datos[index].extraviado];
            plano.push(lista_aux);// agregamos al array
        }
        // console.log(plano);


        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);

        for (var i = 0; i < plano.length; i++) {
            if (plano[i][3] == "False") { //significa que no se ha encontrado aun
                marker = new L.marker([plano[i][1], plano[i][2]])
                    .bindPopup(plano[i][0])
                    .addTo(mymap);
                var circle = L.circle([plano[i][1], plano[i][2]], {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: 350
                }).addTo(mymap);
            }
        }

        //detectar ubicacion, funciona solo bajo contextos seguros(ssl)
        $(function () {

        curLocation = [-26.67, -55.67]
        var map = L.map('mapid').setView(curLocation, 13);
        var marker2 = new L.marker(curLocation, {
            draggable: 'true'
        });
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                latit = position.coords.latitude;
                longit = position.coords.longitude;
                actual = [latit, longit];
                // this is just a marker placed in that position
                var abc = L.marker(actual,{icon: greenIcon}).addTo(map);
                // move the map to have the location in its center
                map.panTo(new L.LatLng(latit, longit));
                actualizar_pos(actual)
            })
        }else{
            alert("No es soportado la localizacion")
            actualizar_pos([-26.85992,-58.30883])

        }
        //curLocation = [-25.677, -55.56];

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        map.attributionControl.setPrefix(false);
       
        function actualizar_pos(coordenadas) {
            marker2.setLatLng(coordenadas);
            map.addLayer(marker2);
            var position = marker2.getLatLng();
            marker2.setLatLng(position, {
                draggable: 'true'
            }).bindPopup(position).update();
            $("#latitud").val(position.lat);
            $("#longitud").val(position.lng).keyup();

        }
   


        //esto es para que ya setee el 
        marker2.on('dragend', function (event) {
            var position = marker2.getLatLng();
            marker2.setLatLng(position, {
                draggable: 'true'
            }).bindPopup(position).update();
            $("#latitud").val(position.lat);
            $("#longitud").val(position.lng).keyup();
        });


    })

        //slide bar 
        const drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));
        const topAppBar = mdc.topAppBar.MDCTopAppBar.attachTo(document.getElementById('app-bar'));
        topAppBar.setScrollTarget(document.getElementById('main-content'));
        topAppBar.listen('MDCTopAppBar:nav', () => {
            drawer.open = !drawer.open;
        });

    </script>

</body>

</html>